#signin-dialog{
  .signup-btn{
    line-height: 50px;
  }
}


#signup-dialog, #signin-dialog {
  .modal{
    -webkit-animation:fadeIn1 ease-in 1;
    -moz-animation:fadeIn1 ease-in 1;
    animation:fadeIn1 ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
  }
}