#bank{
  position: absolute;
  width: 100%;
  z-index: 50;
  height: 0px;
  .pull-down{
    z-index: 110;
    position: relative;
    width: 500px;
    height: 352px; 
    margin: 0 auto;
    .dialog{
      height: 285px;
      padding-top: 50px;
      border-bottom: 1px solid #222222;
      border-radius: 0px 0px 4px 4px;
      color: #eeeeee;
    }
    .bank-btn{
      display: block;
      text-transform: uppercase;
      padding: 5px 0px;
      border-radius: 0px 0px 4px 4px;
      width: 30%;
      margin: 0 auto -31px;
      box-shadow: inset 0 0px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,0.05);
      border-top: 0;
    }
    @media (max-width: 855px){
      .bank-btn{
        width: 10%;
      }
    }
    @media (min-width: 1005px){
      .bank-btn{
        width: 40%;
      }
    }
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
  }
  .shroud{
    z-index: 110;
    -webkit-animation:fadeIn03 ease-in 1;
    -moz-animation:fadeIn03 ease-in 1;
    animation:fadeIn03 ease-in 1;
    
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
    display: none;
  }
  &.open{
    height: 100%;
    .pull-down{
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
    .shroud{
      display: block;
    }
  }
  &.closed .pull-down{
    transform: translateY(-352px);
    -webkit-transform: translateY(-352px);
    -moz-transform: translateY(-352px);
    -o-transform: translateY(-352px);
  }
  &.open .bank-btn, .bank-btn:hover{
    background-image: none;
    background-color: #222222;
    box-shadow: none;
  }
  .navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    .navbar-inner{
      border-radius: 0px;
      padding-left: 0px;
      text-transform: uppercase;
      li{
        width: 229px;
        text-align:center;
      }
    }
  }
  .close-dialog{
    position: absolute;
    z-index: 150;
    top: 0px;
    right: 0px;
    padding: 11px 14px;
    opacity: 0.5;
    transition: opacity 0.20s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
  .instruction{
    margin-bottom: 15px;
    text-align: center;
  }
  .deposit-address{
    text-align: center;
    color: #ffffff;
    .desc{
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .qr-code{
    text-align: center;
    margin-bottom: 15px;
    img{
      width: 200px;
    }
  }
  .signin-prompt{
    font-size: 20px;
    line-height: 270px;
    text-align: center;
  }
  .withdraw-ui{
    h3{
      text-align: center;
    }
    .copy{
      text-align: justify;
    }
    .desc{
      font-size: 16px;
      line-height: 30px;
      text-align:center;
    }
  }
  .btn-main-action{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
    display:block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
  }
  .alert{
    background-color: #222222;
    border: 1px solid #000000;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  .tip{
    font-size: 12px;
    text-align: right;
  }
  p{
    text-align: center;
  }
}


