#bet-stats{
  height: 215px;
  h1{
    font-size: 18px;
    line-height: normal;
    margin: 0 0 10px;
    text-align: center;
  } 
  label{
    display: block;
    text-align: center;
    font-size: 14px;
  }
  label{
    font-weight: bold;
  }
  label[for="bet-inputs-stake"]{
    font-size:18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
  }
  .bet-btn, .new-game-btn, .revoke-btn{
    display:block;
  }
  .indicator, .sub-block{
    word-wrap: break-word;
  }
  .indicator{
    display:block;
    font-size: 14px;
  }
  #bet-inputs-stake-indicator{
    line-height: 24px;
    text-align: center;
    font-weight:normal;
    font-size: 14px;
  }
  .place-bet-prompt{
    margin-top: 65px;
    display: block;
    text-align: center;
    color: #999;
  }
  .waiting-prompt{
    margin-top: 27px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #999;
  }
}
