@import "prefixer.lessimport";

#bet-input {
  .bet-graph {
    height: 92px; // may be required, saw the svg grow to 899 height once, not sure why, could be CDN+cache related
    margin-top: 85px;
    .axis text {
      font-family: sans-serif;
      font-size: 10px;
    }
    .axis line {
      stroke: #000;
    }
  }
  .stake-label{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }
  .bet-buttons{
    margin-top: 15px;
    .btn{
      display: block;
    }
  }
  .bet-slider{
    margin-top: 40px;
    margin-left: 40px;
  }
  .stake-buttons{
    &.top{
      margin-top: 10px;
    }
    &.bottom{
      margin-top: 5px;
    }
    .btn{
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
    }
  }
  .bet-stake-container {
    padding-left: 15px; 
  }
  .bet-stake-container, .bet-slider{
    .ui-rangeSlider-container{
      .box-shadow(inset 0px 2px 6px 0px RGBA(0,0,0,0.2));
      background: #ffffff;
      border-top: 1px solid #222222;
      border-bottom: 1px solid #222222;
    }
    .ui-rangeSlider-label,.ui-rangeSlider-arrow{
      .gradient(#222222, #444444, #222222);
      background-repeat: repeat-x;
      border-color: #222222 #222222 #000000;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }
    .ui-rangeSlider-arrow{
      box-shadow: none;
    }
    .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner{
      border-right-color: #ffffff;
    }
    .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner{
      border-left-color: #ffffff;
    }
    .ui-rangeSlider-label-inner{
      border-top-color: #222222;
    }
    .ui-rangeSlider-bar{
      .gradient(#222222, #444444, #222222);
      background-repeat: repeat-x;
      border-color: #222222 #222222 #000000;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      .box-shadow(none);
      .border-radius(0px);
      height: 30px;
      margin: 0;
    }
  }
}
