#bet-input {
  .stake-label{
    font-size: 18px;
    line-height: 30px;
  }
  .bet-buttons .btn{
    display: block;
  }
  .bet-stake-container, .bet-slider{
    margin-top: 40px;
  }
  
  .bet-graph {
    font: 10px sans-serif;
    height: 100px;
    margin-top: 90px;

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: steelblue;
    }
  }

}
