#game-wheel{
  .fake-wheel{
    width: 200px;
    margin: 0 auto;
    height: 200px;
    border: 10px solid #f00;
    border-radius: 120px;
    line-height:185px;
    font-size: 25px;
    text-align: center;
  }
}