#game-status{
  margin-top: 65px;
  
  [class*="span"]{
    min-height: auto;
  }
  h3{
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    border-right: 1px solid #ccc;
    text-align: center;
  }
  .players-num-h{
    width: 130px;
  }
  .total-bank-h{
    width: 80px;
  }
  .indicator{
    font-size: 16px;
  }
  .stats{
    width: 100%;
  }
}