#general-stats{
  height: 220px;
  text-align: center;
  h1{
    font-size: 18px;
    line-height: normal;
    margin: 0 0 15px;
    text-align: center;
  } 
  .desc{
    font-size: 14px;
  }
  .indicator{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}