#header{
  margin-bottom: 30px;
  h1{
    font-size: 22px;
    line-height: normal;
    text-align: center;
    background-color: #ffffff;
    width: 650px;
    margin: 0 auto;
    border: 1px solid #222222;
    border-radius: 3px;
  }
  .description{
    display: block;
    font-size: 18px;
    text-align: center;
  }
}
