#last-lucky-numbers{
  width: 55px;
  position: fixed;
  left: 1px;
  top: 50px;
  bottom: 10px;

  .abyss{
    position: fixed;
    left:21px;
    bottom: 0px;
    width: 32px;
    height: 350px;
    background-color: #000;
    z-index: 100000;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  }

  .desc{
    float: left;
    width: 20px;
    margin-top:140px;
    heigth: 140px;
    span{
      display: block;
      font-size: 14px;
      line-height: normal;
      white-space: nowrap;
      font-weight: bold;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);

      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;

      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
  }  
  .numbers-list{
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    overflow:hidden;
    float:left;
    width:30px;
    li{
      text-align: center;
      background-color: #ffffff;

      border-bottom: 1px solid #cccccc;
      
      &:nth-child(odd){
        background-color: #f9f9f9;
      }
    }
  }
}