@import "prefixer.lessimport";

.chrome-padded{
  color: #333333;
  .gradient(#fafafa, #ffffff, #f2f2f2);
  border: 1px solid #222222;
  .border-radius(4px);
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
  padding: 15px;
  &.inverse{
    color: #ffffff;
    .gradient(#363636, #444444, #222222);
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
}
.hidden-d{
  display:none;
}