@import "prefixer.lessimport";

#navbar{
  
  margin-bottom: 10px;
  .volume-switch {
    margin-top: 10px;
  }
  .navbar-text{
    padding: 0px 15px;
    color: #000000;
  }
  .navbar-inner{
    .brand, a{
      color: #000000;
    }
    .border-radius(0px);
    border-bottom-color: #222222;
  }
  .decreased, .increased{
    padding: 5px;
    .border-radius(10px);
  }
  .decreased{
    .animation(flashRed 0.3s ease-in-out 0s 20 alternate);
  }
  .increased{
    .animation(flashGreen 0.3s ease-in-out 0s 20 alternate);
  }
}

