#player-header{
  .span6, .span12{
    min-height: auto;
    line-height: normal;
    text-align: center;
  }
  .username{
    overflow:hidden;
    text-overflow: ellipsis;
  }
  .signup-prompt{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 7px;
}