#player-header{
  margin-bottom: 15px;
  .span6, .span12{
    min-height: auto;
    line-height: normal;
    text-align: center;
  }
  .username{
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  .signup-prompt{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .decreased{
    background-color: #f00;
  }
  .increased{
    background-color: #0f0;
  }
}