<template name="switchAnonymousAccDialog">
    <div id="switch-anonymous-acc-dialog" class="fade-in auth-dialog">
        <div class="shroud">
        </div>
        <div class="modal chrome-padded">
            <div class="field important">
                You are about to switch to another anonymous account. [TODO: improve the copy]
            </div>
            <a class="js-confirm btn btn-inverse pull-left half">Confirm</a>
            <a class="js-cancel btn pull-right half">Cancel</a>
        </div>
    </div>
</template>

<template name="switchProtectedAccDialog">
    <div id="switch-protected-acc-dialog" class="fade-in auth-dialog">
        <div class="shroud">
        </div>
        <div class="modal chrome-padded">
            <div class="field important">
                You are about to start playing anonymously. [TODO: improve the copy]
            </div>
            <a class="js-confirm btn btn-inverse pull-left half">Confirm</a>
            <a class="js-cancel btn pull-right half">Cancel</a>
        </div>
    </div>
</template>
