<template name="bank">
  <div id="bank" class="{{#if isOpen}}open{{else}}closed{{/if}}">
    <div class="shroud"></div>
    <div class="pull-down">
      <div class="dialog chrome-padded inverse">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                  <li class="deposit active"><a href="#">Deposit</a></li>
                  <li class="withdraw"><a href="#">Withdraw</a></li>
                </ul>
            </div>
        </div>
        <a class="close-dialog" href="#"><i class="icon-remove icon-white"></i></a>
        {{#if currentUser}}
        <div class="instruction">Deposit Bitcoins using your deposit address or the QR code below</div>
        <div class="qr-code">
          {{{qrCode}}}
        </div>
        <span class="depositAddress">{{depositAddress}}</span>
        {{else}}
        <div class="signin-prompt">
          Please  <a class="signin-btn" href="#">sign in</a> or <a class="signup-btn" href="#">create an account</span>
        </div>
        {{/if}}
      </div>
      <a class="bank-btn btn btn-inverse" href="#">Bank</a>
    </div>
  </div>
</template>
