<template name="bet_inputs_area">
  <section id="bet-inputs-area" class="chrome-padded">
    <div class="field">
      <label for="stake">
        Stake
      </label>
      <input type="text" id="stake" class="numeric-input" value="{{current_stake}}"/>
    </div>
    <div class="field">
      <label for="range-size">
        Range size
      </label>
      <span class="indicator">{{range_size}}</span>
    </div>
    <div class="field">
      <label for="chance">
        Chance to win
      </label>
      <span class="indicator">{{chance_to_win}}</span>
    </div>
    <div class="field">
      <label for="reward">
        Potential reward
      </label>
      <span class="indicator">{{reward}}</span>
    </div>
    <div class="field">
      <a class="btn bet-btn btn-inverse" href="#">Bet</a>
    </div>
  </section>
</template>
