<template name="bet_inputs_area">
  <section id="bet-inputs-area" class="chrome-padded">
    <div class="field">
      <label for="bet-inputs-stake">
        Stake
      </label>
      <div class="sub-block">
        <input type="text" id="bet-inputs-stake" class="numeric-input" value="{{current_stake}}"/>
        <span class="indicator hidden-d badge-warning badge" id="bet-inputs-stake-indicator">{{current_stake}}</span>
      </div>
    </div>
    <div class="field">
      <label>
        Range
      </label>
      <span class="indicator">[{{range}}]</span>
    </div>
    <div class="field">
      <label>
        Range size
      </label>
      <span class="indicator">{{range_size}}</span>
    </div>
    <div class="field">
      <label>
        Chance to win
      </label>
      <span class="indicator">{{chance_to_win}}</span>
    </div>
    <div class="field">
      <label>
        Potential reward
      </label>
      <span class="indicator">{{reward}}</span>
    </div>
    {{#constant}}
    <div class="button-container">
      <div class="field">
        <a class="btn bet-btn btn-inverse" href="#">Bet</a>
      </div>
      <div class="field hidden-d">
        <a class="btn new-game-btn btn-inverse" href="#">Another try</a>
      </div>
    </div>
    {{/constant}}
  </section>
</template>
