<template name="bet_inputs_area">
  <section id="bet-inputs-area" class="chrome-padded">
    <div class="row-fluid">
      <div class="span6">
        <label for="bet-inputs-stake">
          ฿ Stake
        </label>
      </div>
      <div class="span6">
        {{#if betLocked }}
        <span class="indicator hidden-d badge-warning badge" id="bet-inputs-stake-indicator">{{currentStake}}</span>
        {{else}}
        <input type="text" id="bet-inputs-stake" class="numeric-input input-block-level" value="{{currentStake}}"/>
        {{/if}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <label>
          Range
        </label>
      </div>
      <div class="span6">
        <span class="indicator">[{{range}}]</span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <label>
          Range size
        </label>
      </div>
      <div class="span6">
        <span class="indicator">{{rangeSize}}</span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <label>
          Max reward
        </label>
      </div>
      <div class="span6">
        <span class="indicator">{{maxReward}}</span>
      </div>
    </div>
    <div class="row-fluid">
      {{#if betSubmitted}}
      <div class="span6">
        <div class="btn revoke-btn">
          Revoke
        </div>
      </div>
      <div class="span6">
        <div class="btn bet-btn btn-inverse">
          Update
        </div>
      </div>
      {{else}}
      <div class="span12">
        <a class="btn bet-btn btn-inverse" href="#">Bet</a>
      </div>
      {{/if}}
    </div>
  </section>
</template>
