<template name="betInput">
  <section id="bet-input" class="chrome-padded">
    <div class="row-fluid">
      <div class="span9">
        <div id="bet-slider">
        </div>
      </div>
      <div class="span3">
        <div class="row-fluid">
          <div class="span4">
            Stake: 
          </div>
          <div class="span8">
            <input type="text" class="stake input-block-level"/>
          </div>
        </div>
        <a class="btn btn-inverse bet-btn">Bet</a>
      </div>
    </div>
  </section>
</template>
