<template name="betStats">
  <section id="bet-stats" class="chrome-padded">
    <h1>Your current bet</h1>
    {{#if playing}}
      {{#with activeBet}}
        <div class="row-fluid">
          <div class="span6">
            <label>
              Stake
            </label>
          </div>
          <div class="span6">
            <span class="indicator">
              {{amountBtc}}
            </span>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <label>
              Range
            </label>
          </div>
          <div class="span6">
            <span class="indicator">
              [{{rangeMin}}, {{rangeMax}}]
             </span>
          </div>
        </div>
        {{#if extendedBetInfo}}
        <div id="betsStatsDetails">
          <div class="row-fluid">
            <div class="span6">
              <label>
                Max payout
              </label>
            </div>
            <div class="span6">
              <span class="indicator">฿{{maxToWin}}</span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <label>
                Max to lose
              </label>
            </div>
            <div class="span6">
              <span class="indicator">฿{{maxToLose}}</span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <label>
                Chance to win
              </label>
            </div>
            <div class="span6">
              <span class="indicator">{{chanceToWin}}%</span>
            </div>
          </div>
        </div>
        {{else}}
          <div>
            <span class="waiting-prompt">Waiting for one more player...</span>
          </div>
          <div id="waiting-spinner">
          </div>
        {{/if}}
      {{/with}}

    {{else}}
      <span class="place-bet-prompt">No bet placed</span>
    {{/if}}
  </section>
</template>
