<template name="game_status">
  <section class="chrome-padded" id="game-status">
    <div class="row-fluid">
      <div class="span3">
        <h3>Current game</h3>
      </div>
      <div class="span9">
        <table class="stats">
          <thead>
            <tr>
              <td class="players-num-h">
                Number of players:
              </td>
              <td class="indicator">
                {{numberOfPlayers}}
              </td>
              <td class="total-bank-h">
                Total bank:
              </td>
              <td class="indicator">
                ฿{{totalBank}}
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
</template>
