<template name="generalStats">
  <section id="general-stats" class="chrome-padded">
    <div class="total-players">
      <div class="desc">Players Live:</div>
      <div class="indicator">{{playersLive}}</div>
    </div>
    {{#with allTimeStats}}
      <div>
        <div class="desc">Largest-win:</div>
        <div class="indicator">฿{{largestWin}}</div>
      </div>
      <div>
        <div class="desc">Coins distributed:</div>
        <div class="indicator">฿{{coinsDistributed}}</div>
      </div>
    {{/with}}
  </section>
</template>
