<template name="generalStats">
  <section id="general-stats" class="chrome-padded">
    <h1>All-time statistics</h1>
    {{#with allTimeStats}}
      <div id="statsIterator">
        <div>
          <div class="desc">Largest-win:</div>
          <div class="indicator">฿{{largestWin}}</div>
        </div>
        <div>
          <div class="desc">Coins distributed:</div>
          <div class="indicator">฿{{coinsDistributed}}</div>
        </div>
        <div>
          <div class="desc">Hot numbers:</div>
          <div class="indicator">{{#each hotNumbers}} {{num}} {{/each}}</div>
        </div>
        <div>
          <div class="desc">Cold numbers:</div>
          <div class="indicator">{{#each coldNumbers}} {{num}} {{/each}}</div>
        </div>
      </div>
    {{/with}}
  </section>
</template>
