<template name="howto_dialog">
  <div id="howto-dialog" class="fade-in">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>How To Play</h3>
      </div>
      <div class="modal-body">

        <h4>The first multiplayer bitcoin betting game</h4>
        <p>The goal of the game is to guess a randomly generated number from 1 to 100.<br>
        You can bet on a single number or a whole range of numbers. There is no minimum bet, and no limit.</p>
        <p>If you have selected a range that includes the winning number, you win.</p>
        <p>Simples.</p>


        <hr class="bs-docs-separator">

        <h4>Why is it different?</h4>
        <ul>
          <li>If you lose, you lose only a part of your stake. We will tell you how much that amount is, <i>before</i> you even bet!</li>
          <li>If everyone loses, we redistribute all the bitcoins back to the players, minus our 2% 'rake'</li>
          <li>If anyone wins, we distribute the winnings proportionally to the risk each player took</li>
        </ul> 
        <p>We believe the above system is the fairest on the market today, allowing you to play for hours at the level of risk <b>you</b> chose to take.</p>


        <hr class="bs-docs-separator">

        <h4>How much can I win?</h4>
        <p>There are no betting limits, and if you bet on a single number and win, you can receive up to one hundred times your stake.</p>
        <p>To make the game challenging and fun, how much you receive is determined by the amount of risk you took proportionaly to all the other players.</p>
        <p>You can see what numbers other players have chosen by studying the bar graph below the slider, so try to aim for ranges no one else has bet on!</p>
        <p>By mousing over the colored wheel around the bank, you can also study each individual bet from other players, and see how they measure up against the total size of the bank.</p>


        <hr class="bs-docs-separator">

        <h4>How do I play?</h4>
        <p>Once you have created an account, click 'BANK' at the top of the screen, and send funds to the personal deposit address that appears.</p>
        <p>Your funds will load instantaneously. You can now bet by moving and resizing the slider, entering a stake and pressing 'bet'</p>
        <p>The graph below the sliders shows you in real time where other players are betting.</p>
        <p>To cash out, simply click 'BANK' again, choose the withdraw option and enter the address you would like us to transfer the funds to. This process usually takes 5 minutes, but can sometimes take longer. It will never take longer than 5 hours.</p>


        <hr class="bs-docs-separator">

        <h4>What is Bitcoin?</h4>

        <p>Bitcoin is a digital currency that allows worldwide payments with negligible processing fees.</p>
        <p>Bittheodds uses bitcoin exclusively. You can get a free wallet and purchase coins from sites such as <a href="http://blockchain.info/" target="_new">http://blockchain.info/</a></p>


        <hr class="bs-docs-separator">

        <h4>Who are you?</h4>
        <p>We're developers with a passion for gambling. We saw opportunity with Bitcoin to build a site we'd love to play on ourselves.</p>
        <p>While we love roulette and poker ourselves, we wanted to build a genuinely new gameplay experience in a massively multiplayer environment.</p>
        <p>Bittheodds is our main activity and is constantly being upgraded with new features and game modes.</p>


        <hr class="bs-docs-separator">

        <h4>How can we trust you?</h4>
        <p>Bittheodds uses a computerized Random Number Generator to determine the winning numbers. We ourselves have no control over it, and its fairness can be determined by anyone as we publish the list of all previoulsy generated numbers, in real time.</p>        
        <p>We are also working on implementing a 'Provably Fair' algorythm in the near future, which will allow to mathematically confirm the fairness of each winning number as they are drawn.</p>  

      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Close</a>
      </div>

    </div>
  </div>
</template>

