<head>
  <title>Bittheodds</title>
  <meta name="description" content="No limit multiplayer bitcoin betting">
  <meta name="keywords" content="bitcoin,casino,gambling,betting,gaming">
</head>

<body>
  {{> bank }}
  {{> navbar }}
  {{> lastLuckyNumbers}}  
  <div id="main-container" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {{> alerts }} 
        {{> header }}
      </div>
    </div>
    <div class="row-fluid">
        {{> resultsSwitcher}}
      <div class="span3">
        {{> betStats}}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        {{> betInput}}
      </div>
    </div>
    {{> activity }}
  </div>
</body>
