<template name="navbar">
  <div class="navbar" id="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">QUOKKA</a>
      <ul class="nav">
        <li class="divider-vertical"></li>
        {{#if currentUser }}
        <li>
          <p class="navbar-text username">
            {{username}}
          </p>
        </li>
        <li>
          <p class="navbar-text">
            Balance: {{balance}}
          </p>
        </li>
        <li>
          <a class="signout-btn" href="#">Sign out</a>
        </li>
        {{else}}
        <li>
          <a class="signin-btn" href="#">Sign in</a>
        </li>
        <li>
          <a class="signup-btn" href="#">Create account</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</template>

<template name="signup_dialog">
  <div id="signup-dialog" class="fade-in auth-dialog">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded animated-show">
      {{#if error}}
      <div class="alert alert-error">
        {{error}}
      </div>
      {{/if}}
      <div class="field">
        <input type="text" placeholder="Username" name="username"/>
      </div>
      <div class="field with-hint">
        <input type="password" placeholder="Password" name="password"/>
        <span class="hint">Must be at least 6 characters long</span>
      </div>
      <div class="field">
        <input type="text" placeholder="Email (optional)" name="email"/>
      </div>
      <a class="submit-btn btn btn-inverse">Create</a>
      <a class="cancel">Cancel</a>
    </div>
  </div>
</template>

<template name="signin_dialog">
  <div id="signin-dialog" class="fade-in auth-dialog">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded animated-show">
      {{#if error}}
      <div class="alert alert-error fade-in">
        {{error}}
      </div>
      {{/if}}
      <div class="field">
        <input type="text" placeholder="Username or email" name="user"/>
      </div>
      <div class="field">
        <input type="password" placeholder="Password" name="password"/>
      </div>
      <a class="submit-btn btn btn-inverse">Sign in</a>
      <a class="cancel">Cancel</a>
    </div>
  </div>
</template>
