<template name="navbar">
  <div class="navbar" id="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#"><strong>B</strong>itTheOdds</a>
      <ul class="nav">
        <li class="divider-vertical"></li>
        {{#if currentUser}}
        <li>
          <a class="signout-btn" href="#">Sign out</a>
        </li>
        {{else}}
        <li>
          <a class="signin-btn" href="#">Sign in</a>
        </li>
        <li>
          <a class="signup-btn" href="#">New account</a>
        </li>
        {{/if}}
      </ul>
      <ul class="nav pull-right">
        <li>
          <a class="news-btn" href="#">News</a>
        </li>
        <li>
          <a class="howto-btn" href="#">How to Play</a>
        </li>
        <li></li>
        <li>
          <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="205470">Feedback &amp; Support</a>
        </li>
      </ul>
    </div>
  </div>
</template>



