<template name="navbar">
  <div class="navbar" id="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">BITTHEODDS</a>
      <ul class="nav">
        <li class="divider-vertical"></li>
        {{#if currentUser }} {{! Meteor handlebar helper, returns Meteor.user() }}
        <li>
          <p class="navbar-text username">
            {{#if anonymous}}
            Anonymous
            {{else}}
            {{username}}
            {{/if}}
          </p>
        </li>
        <li>
          <p class="navbar-text">
            Balance: {{balance}}
          </p>
        </li>
        {{#if anonymous}}
        <li>
          <a class="signin-btn" href="#">Sign in</a>
        </li>
        <li>
          <a class="signup-btn" href="#">Create account</a>
        </li>
        {{else}}
        <li>
          <a class="signout-btn" href="#">Sign out</a>
        </li>
        {{/if}}
        {{else}}
        <li>
          <a class="signin-btn" href="#">Sign in</a>
        </li>
        <li>
          <a class="signup-btn" href="#">Create account</a>
        </li>
        {{/if}}
        <li>
          <a class="withdraw-btn" href="#">Withdraw</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<template name="signup_dialog">
  <div id="signup-dialog" class="fade-in auth-dialog">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      {{#if error}}
      <div class="alert alert-error">
        {{error}}
      </div>
      {{/if}}
      <div class="field">
        <input type="text" placeholder="Username" name="username"/>
      </div>
      <div class="field with-hint">
        <input type="password" placeholder="Password" name="password"/>
        <span class="hint">Must be at least 6 characters long</span>
      </div>
      <div class="field">
        <input type="text" placeholder="Email (optional)" name="email"/>
      </div>
      <a class="submit-btn btn btn-inverse pull-left two-thirds">Create</a>
      <a class="cancel">Cancel</a>
    </div>
  </div>
</template>

<template name="signin_dialog">
  <div id="signin-dialog" class="fade-in auth-dialog">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      {{#if error}}
      <div class="alert alert-error fade-in">
        {{error}}
      </div>
      {{/if}}
      <div class="field">
        <input type="text" placeholder="Username or email" name="user"/>
      </div>
      <div class="field">
        <input type="password" placeholder="Password" name="password"/>
      </div>
      <a class="submit-btn btn btn-inverse pull-left two-thirds">Sign in</a>
      <a class="cancel">Cancel</a>
    </div>
  </div>
</template>


<template name="withdraw_dialog">
  <div id="withdraw-dialog" class="fade-in">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      {{#if depositsConfirmed}}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Withdraw funds</h3>
      </div>
      <div class="modal-body">
        interface here
      </div>
      <div class="modal-footer">
        <a href="#" id="dia-close-btn" class="btn">Close</a>
      </div>
      {{else}}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Please wait</h3>
      </div>
      <div class="modal-body">
        <p>You recently sent funds to your deposit address.</p>
        <p>Before you can withdraw these funds as well as any associated winnings, you must first wait for them to be confirmed by the bitcoin network.</p>
        <p>A total of BTC {{outstandingDeposits}} still needs to be confirmed. Withdrawals will be available to you in approximately {{timeToValidateDeposits}} minutes.</p>
      </div>
      <div class="modal-footer">
        <a href="#" id="dia-close-btn" class="btn">Close</a>
      </div>      
      {{/if}}
    </div>
  </div>
</template>

