<template name="news_dialog">
  <div id="news-dialog">
    <div class="shroud fade-in-03">
    </div>
    <div class="modal chrome-padded fade-in-1">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>Our Latest News</h3>
      </div>
      <div class="modal-body">
        {{#each news}}
          {{> news}}
        {{/each}}
      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Close</a>
      </div>
    </div>
  </div>
</template>


<template name="news">
  <div class="news">
    <div class="timestamp">{{dateFormat timestamp}}</div>
    <div class="title">{{title}}</div>    
    <div class="body">{{body}}</div>
  </div>
</template>