<template name="news_dialog">
  <div id="" class="fade-in">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>Our latest news</h3>
      </div>
      <div class="modal-body">
        <p>blahblahblah static text to replace with real stuff</p>
      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Close</a>
      </div>
    </div>
  </div>
</template>