<template name="playerHeader">
  <section id="player-header" class="chrome-padded">
    <div class="row-fluid">
      {{#if currentUser }}
        {{#with playerInfo}}
          <div class="span6">
            <a class="username" href="#">{{username}}</a>
          </div>
          <div class="span6">
            <span class="{{balanceClass}}">฿{{balance}}</span>
          </div>
        {{/with}}
      {{else}}
        <div class="span12 signup-prompt">
          Please  <a class="signin-btn" href="#">sign in</a> or <a class="signup-btn" href="#">create an account</span>
</div>
      {{/if}}
    </div>
  </section>
</template>
