<template name="qrCode">
    <div id="qr_code" class="fade-in qr-code-dialog">
        <div class="shroud">
        </div>
        <div class="modal chrome-padded">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>QR Code</h3>
            </div>
            <div class="field">
                {{{qrCode}}}
            </div>
            <h4>{{depositAddress}}</h4>
             <div class="modal-footer">
              <a href="#" id="dia-close-btn" class="btn">Close</a>
            </div>
        </div>
    </div>
</template>

