<template name="withdraw_dialog">
  <div id="withdraw-dialog" class="fade-in">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      {{#if depositsConfirmed}}
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>Withdraw funds</h3>
      </div>
      <div class="modal-body">
        {{#if error}}
        <div class="alert alert-error fade-in">
          {{error}}
        </div>
        {{/if}}
        <p>Withdrawal of funds is usually instantaneous. For larger sums, our verification process can take up to 5 hours.</p>
        <fieldset>
          <label>Address to withdraw to:</label>
          <input class="input-xlarge" type="text" placeholder="your withdrawal address" name="address">
          <label>Amount (Min ฿0.001, ฿0.0005 transaction fee applies)</label>
          <span class="add-on">฿</span>
          <input id="prependedInput" type="text" placeholder="0.000" name="amount">
        </fieldset>
      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Cancel</a>
        <a class="btn btn-inverse" id="confirm">Request withdrawal</a>
      </div>
      {{else}}
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>Please wait</h3>
      </div>
      <div class="modal-body">
        <p>You recently sent funds to your deposit address.</p>
        <p>Before you can withdraw these funds as well as any associated winnings, you must first wait for them to be confirmed by the bitcoin network.</p>
        <p>A total of ฿{{outstandingDeposits}} still needs to be confirmed. Withdrawals will be available to you in approximately {{timeToValidateDeposits}} minutes.</p>
      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Close</a>
      </div>
      {{/if}}
    </div>
  </div>
</template>


<template name="withdraw_confirmation_instant">
  <div id="withdraw-confirmation-instant" class="fade-in">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>Withdrawal complete</h3>
      </div>
      <div class="modal-body">
        <p>Your withdrawal request was executed successfully.</p>
        <p>฿{{amount}} was sent to <b><a href="http://blockchain.info/search/{{address}}" target="_blank">{{address}}</a></b>, transaction id:<br> 
        <b><a href="http://blockchain.info/search/{{txId}}" target="_blank">{{txId}}</a></b></p>
        <p>A ฿0.0005 transaction fee applies</p>
      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Close</a>
      </div>
    </div>
  </div>
</template>


<template name="withdraw_confirmation_delayed">
  <div id="withdraw-confirmation-delayed" class="fade-in">
    <div class="shroud">
    </div>
    <div class="modal chrome-padded">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3>Withdrawal in progress</h3>
      </div>
      <div class="modal-body">
        <p>We've acknowledged your withdrawal request and will send you the funds after verification.</p>
        <p>This process can take up to 5 hours to complete.</p>
        <p>A ฿0.0005 transaction fee applies</p>
      </div>
      <div class="modal-footer">
        <a class="btn" id="cancel">Close</a>
      </div>
    </div>
  </div>
</template>



