<template name="bankWithdraw">
  <div class="withdraw-ui">
    {{#if bitcoindDown}}
      {{>withdrawBitcoindDown}}
    {{else}}
      {{#if transfer}}
        {{#with transfer}}
          {{#if instant}}
            {{>withdrawConfirmationInstant transaction}}
          {{else}}
            {{>withdrawConfirmationDelayed}}
          {{/if}}
        {{/with}}
      {{else}}
        {{#if hasBalance}}
          {{#if depositsConfirmed}}
            {{#if error}}
              <div class="alert alert-error fade-in-1">
                {{error}}
              </div>
            {{/if}}
            {{>withdrawForm}}
          {{else}}
            <h3>Please wait</h3>
            <div class="copy">
              <p>You recently sent funds to your deposit address.</p>
              <p>Before you can withdraw these funds as well as any associated winnings, you must first wait for them to be confirmed by the bitcoin network.</p>
              <p>A total of ฿{{outstandingDeposits}} still needs to be confirmed. Withdrawals will be available to you in approximately {{timeToValidateDeposits}} minutes.</p>
            </div>
          {{/if}}
        {{else}}
          <h3>Nothing to widthdraw</h3>
          <div class="copy">
            <p>Your balance is currently ฿0.</p>
            <p>You need to make a deposit before you can withdraw funds.</p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
