<template name="bankWithdraw">
  <div class="withdraw-ui">
    {{#if depositsConfirmed}}
    {{#if error}}
    <div class="alert alert-error fade-in">
      {{error}}
    </div>
    {{/if}}
    <div class="copy">
      <p>Withdrawal of funds is usually instantaneous. For larger sums, our verification process can take up to 5 hours.</p>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <div class="desc">
          Wallet address
        </div>
      </div>
      <div class="span8">
        <input class="address input-block-level" type="text" name="address">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <div class="desc">
          Amount
        </div>
      </div>
      <div class="span8">
        <input class="input-block-level" id="prependedInput" type="text" name="amount">
      </div>
    </div>
    <a class="withdraw-btn btn btn-inverse" id="confirm">Request withdrawal</a>
    {{else}}
    <h3>Please wait</h3>
    <div class="copy">
      <p>You recently sent funds to your deposit address.</p>
      <p>Before you can withdraw these funds as well as any associated winnings, you must first wait for them to be confirmed by the bitcoin network.</p>
      <p>A total of ฿{{outstandingDeposits}} still needs to be confirmed. Withdrawals will be available to you in approximately {{timeToValidateDeposits}} minutes.</p>
      {{/if}}
    </div>
  </div>
</template>
