<template name="withdrawConfirmationInstant">
  <div id="withdraw-confirmation-instant">
    <h3>Withdrawal complete</h3>
    <div class="modal-body">
      <p>Your withdrawal request was executed successfully.</p>
      <p>฿{{amt}} was sent to <b><a href="http://blockchain.info/search/{{addr}}" target="_blank">{{addr}}</a></b>, transaction id:<br> 
        <b><a href="http://blockchain.info/search/{{txId}}" target="_blank">{{txId}}</a></b></p>
      <p>A ฿0.0005 transaction fee applies</p>
    </div>
  </div>
</template>
